<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.BibliotecaConnectionString"
            connectionString="Data Source=LAB2-CAT;Initial Catalog=Biblioteca;Persist Security Info=True;User ID=sa;Password=database"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>